
.main_body{
    width:100%;
    margin: auto;
}
.container{
    margin: auto;
}
.header{
    background:#6396bc;
    width: 100%;
    top: 0;
    position: fixed;
}
a{
    text-decoration:none;
}
.main_nav ul{
    margin:0;
}
.main_nav li{
    list-style:none;
    float:left;
    margin-left: 15px;
}

.main_nav a:link, .main_nav a:visited{
    color:#FFF;
    display:inline-block;
    padding: 5px 25px;
    font: bold 20px Tahoma;
}
.main_nav a:hover ,.main_nav a:active{
    background: #ff8c30;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 5px 25px;
}
.main_frame1{
    margin-top:30px;
}
/*
@media only screen and (min-width:150px) and (max-width:600px){

}*/